<!-- Arquivo contato.html: apresenta a tela de contato do projeto Performance Nutri -->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PerformanceNutri - Sua saúde em primeiro lugar</title>
    <link rel="stylesheet" href="/static/nutri_estilo.css">

</head>
<body>
    <nav>
        <ul>
           <li> <a href="/">Index</a> </li>
           <li> <a href="/imc">IMC</a> </li>
           <li> <a href="/contato">Contato</a> </li>
        </ul>
    </nav>

    <header>
        <h1>PerformanceNutri</h1>
        <p>Sua saúde em primeiro lugar</p>
    </header>

    <section>
        <h2>Bem-vindo à sua nova jornada de bem-estar!</h2>
        <p>Explore dicas de alimentação saudável, planos personalizados e muito mais.</p>


        <h3>Contato</h3>

        <form method="post" id="assunto" >
            <p>
            Nome: <input type="TEXT" step="0.01" name="nome" placeholder="Nome" width="60" required><br>
            E-mail: <input type="TEXT" step="0.01" name="email" placeholder="E-mail" width="60" required><br>
            </p>
            <p>
            Comentários: <br>
                <textarea id="assunto" name="assunto" rows="4" cols="50" required ></textarea></br>
            </p>
            <p></p>
            <button type="submit">Enviar</button>
            </p>
        </form>
      <h4>Mensagem: {{status}}</h4>

    </section>
</body>
</html>