<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PerformanceNutri - IMC</title>
    <link rel="stylesheet" href="/static/nutri_estilo.css">

</head>
<body>

<nav>
  <ul>
    <li> <a href="/">Index</a> </li>
    <li> <a href="/imc">IMC</a> </li>
    <li> <a href="/contato">Contato</a> </li>
  </ul>
</nav>

    <header>
        <h1>Performance Nutri</h1>
        <p>Sua saúde em primeiro lugar</p>
    </header>

    <section>
        <h2>Bem-vindo à sua nova jornada de bem-estar!</h2>
        <p>Explore dicas de alimentação saudável, planos personalizados e muito mais.</p>


        <h3>Calculadora de IMC</h3>
        <form method="post">
            <input type="number" step="0.01" name="peso" placeholder="Peso (kg)" required>
            <input type="number" step="0.01" name="altura" placeholder="Altura (m)" required>
            <button type="submit">Calcular IMC</button>
        </form>

        
    </section>
</body>
</html>