<!-- Arquivo index.html
É uma tela de Bem-vindos do projeto Performance Nutri
Contém os links para outras telas do projeto
-->

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PerformanceNutri - Index</title>
    <link rel="stylesheet" href="/static/nutri_estilo.css">
</head>
<body>

<nav>
  <ul>
    <li> <a href="/">Index</a> </li>
    <li> <a href="/imc">IMC</a> </li>
    <li> <a href="/contato">Contato</a> </li>
  </ul>
</nav>

    <header>
        <h1>Performance Nutri</h1>
        <p>Sua saúde em primeiro lugar</p>
    </header>

    <section>
        <h2>Bem-vindo à sua nova jornada de bem-estar!</h2>
        <p>Explore dicas de alimentação saudável, planos personalizados e muito mais.</p>
        <img src="static/images/logoNutri.jpg" alt="logo">


    </section>
</body>
</html>